# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/

# Environment Variables
.env

# Logs
*.log

# IDE
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# AWS Keys
*.pem
*.key

# Python cache
.pytest_cache/

# Terraform (future)
.terraform/
terraform.tfstate
terraform.tfstate.backup